#home-welcome-totalsale-container{
    
    padding: 5px;
    border-radius: 5px;
    display:flex;
    flex-direction: column;
}

#home-welcome-totalsale-text {
    font-size: 22px;
    font-weight: bold;
    margin-left: 10px;
}

#home-welcome-totalsale-section1{
    display: flex;
    width: auto;
    justify-content: space-around;
}

#home-welcome-totalsale-section1 p{
    color: green;
}

#home-welcome-totalsale-section2{
    
}

#home-welcome-totalsale-section2 p{
    font-size: 17px;
    font-weight: bold;
    margin: 0 ;
}